{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('pages/login') }}
{% endblock %}

{% block title %}
    {{ parent() }} | Sign in
{% endblock %}

{% block main %}
    <div class="text-center">
        <form class="form-signin" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            {% include 'components/_logo.svg.twig' %}
            <h1 class="h1 mb-3 font-weight-normal">Daily Expense</h1>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control" name="username"
                   placeholder="Username" required autofocus autocomplete="off" value="{{ lastUsername }}">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="password"
                   placeholder="Password" required autocomplete="off">
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign in
            </button>
        </form>
    </div>

    {# Background Photo credit #}
    <span class="bg-credit">
        Photo by
        <a href="https://unsplash.com/@blankerwahnsinn?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
            Fabian Blank
        </a>
        on
        <a href="https://unsplash.com/">Unsplash</a>
    </span>
{% endblock %}
