{% set pageTitle = 'Accounts' %}
{% set sidebarActiveTag = 'accounts' %}

{% extends 'pages/layout.html.twig' %}

{% block pageContent %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Currency</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for account in accounts %}
                        <tr>
                            <td>{{ account.name }}</td>
                            <td>{{ account.currency.name }} ({{ account.currency.symbol }})</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('pages/entities/accounts') }}
{% endblock %}
