{% set pageTitle = 'Currencies' %}
{% set sidebarActiveTag = 'currencies' %}

{% extends 'pages/layout.html.twig' %}

{% block pageContent %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <div class="row text-right">
                    <div class="col">
                        <button class="btn btn-success btn-icon-split mb-4 btn-show-add-modal">
                            <span class="icon text-white-50">
                              <i class="fas fa-plus"></i>
                            </span>
                            <span class="text">Add Currency</span>
                        </button>
                    </div>
                </div>
                <table class="table table-bordered data-table" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Symbol</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for currency in currencies %}
                        <tr data-entity-id="{{ currency.id }}">
                            <td class="cell-currency-name">{{ currency.name }}</td>
                            <td class="cell-currency-code">{{ currency.code }}</td>
                            <td class="cell-currency-symbol">{{ currency.symbol }}</td>
                            <td class="text-center">
                                <button class="btn btn-primary btn-icon-split btn-show-edit-modal">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                    <span class="text">Edit</span>
                                </button>
                                <button class="btn btn-danger btn-icon-split btn-show-delete-modal">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-ban"></i>
                                    </span>
                                    <span class="text">Delete</span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% embed 'components/_entity_modal.html.twig' %}
        {% block formFields %}
            <input type="hidden" name="id" value="">
            <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" id="inputName" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputCode" class="col-sm-2 col-form-label">Code</label>
                <div class="col-sm-10">
                    <input type="text" name="code" class="form-control" id="inputCode" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputSymbol" class="col-sm-2 col-form-label">Symbol</label>
                <div class="col-sm-10">
                    <input type="text" name="symbol" class="form-control" id="inputSymbol" required>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('pages/entities/currencies') }}
{% endblock %}
