{% for field in fields %}
    {% if 'hidden' == field.type %}
        <input type="hidden" name="{{ field.name }}" value="">
    {% elseif 'text' == field.type %}
        <div class="form-group row">
            <label for="{{ 'input' ~ field.name|title }}" class="col-sm-2 col-form-label">
                {{ field.name|title }}
            </label>
            <div class="col-sm-10">
                <input
                    type="text"
                    name="{{ field.name }}"
                    class="form-control"
                    id="{{ 'input' ~ field.name|title }}"
                    value=""
                    {% if field.required is defined and field.required -%}
                        required
                    {%- endif -%}
                >
                <small class="text-danger"></small>
            </div>
        </div>
    {% elseif 'select' == field.type %}
        <div class="form-group row">
            <label for="{{ 'select' ~ field.name|title }}" class="col-sm-2 col-form-label">
                {{ field.name|title }}
            </label>
            <div class="col-sm-10">
                <select
                    name="{{ field.name }}"
                    class="form-control"
                    id="{{ 'select' ~ field.name|title }}"
                    {% if field.required is defined and field.required -%}
                        required
                    {%- endif -%}
                >
                    {% for option in field.options %}
                        <option value="{{ option.value }}"
                            {% if option.disabled is defined and option.disabled %}disabled{% endif %}
                        >
                            {{ option.content }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    {% elseif 'selectIcon' == field.type %}
        <div class="form-group row">
            <label for="{{ 'select' ~ field.name|title }}" class="col-sm-2 col-form-label">
                {{ field.name|title }}
            </label>
            <div class="col-sm-10">
                {% for key, option in field.options %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="{{ field.name }}"
                               id="{{ 'radio' ~ field.name|title ~ key }}" value="{{ option.value }}"
                               {% if key == 0 %}required{% endif %}>
                        <label class="form-check-label" for="{{ 'radio' ~ field.name|title ~ key }}">
                            <i class="fas {{ option.value }}"></i>
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endfor %}
